body {
    background: #111;
    display: flex;
    justify-content: center;
    font-family: $mono;
}

h1 {
    margin-top: 0;
    margin-bottom: 1rem;
}

button {
    display: block;
    outline: 0;
    padding: 15px 40px;

    font-family: $mono;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1.25rem;

    background: rgb(223, 148, 148);
    color: rgba($black, 0.666);
    border: 0px solid $slate;
    box-shadow: inset -5px -5px 0 0 rgba($black, 0.15),
        inset 5px 5px 0 0 rgba($white, 0.1);

    cursor: pointer;

    &:hover {
        color: $black;
        background: rgb(255, 148, 148);
    }
}
