// main colors
$primary: red;
$secondary: blue;
$accent: yellow;

// shades
$white: #ffffff;
$offwhite: #fafafa;
$lightgrey: #aaaaaa;
$grey: #666666;
$darkgrey: #333333;
$slate: #151515;
$black: #000000;

// party colors
$republican: red;
$democrat: blue;
$green: green;
$libertarian: yellow;

//fonts
$sans: Tahoma;
$serif: Georgia;
$mono: Consolas;
