// main colors
$primary: red;
$secondary: blue;
$accent: yellow;

// shades
$white: #ffffff;
$offwhite: #fafafa;
$lightgrey: #aaaaaa;
$grey: #666666;
$darkgrey: #333333;
$slate: #151515;
$black: #000000;

// party colors
$republican: red;
$democrat: blue;
$green: green;
$libertarian: yellow;

//fonts
$ubuntu: "Ubuntu Mono", monospace;
$sans: Tahoma;
$serif: Georgia;
$mono: $ubuntu;

//backgrounds
$greydient: radial-gradient(
    circle farthest-corner at -5% -10%,
    rgba(74, 98, 110, 1) -25%,
    rgba(30, 33, 48, 1) 125%
);
